{% extends './base.html' %}
{% block title%} Atencion {% endblock%}

{% block body %}
<form action="/nueva_atencion" method="POST">
    <div class="card">
        <div class="card-header">
            <h3>Buscar Paciente</h3>
        </div>
        <div class="card-body bg-white">
            <div class="form-group">
                
                <label for="run" class="col-form-label">R.U.N PACIENTE</label>
                <select id="run" class="datos" name="run" style="width:200px;" required>
                    <option selected></option>
                    {% for dato in datos %}
                        <option value="{{ dato[0] }}">{{ dato[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
            
            <a href="/lista_atenciones" class="btn btn-info mx-4"><i class="fa-solid fa-rectangle-list"></i> Ver Recepciones</a>
        </div>
    
    </form>
</div>
{% endblock %}
